@import "tailwindcss";

:root {
  --c-header-bg: #19216C;
  --c-page-bg: #F5F7FA;
  --c-card-footer-bg: #E0E8F9;
  --c-primary-btn-bg: #4055A8;

  --c-surface: #FFFFFF;
  --c-border: #D9E2EC;

  --c-text: #102A43;
  --c-text-muted: #52606D;
  --c-text-on-dark: #F5F7FA;
}

@theme {
  --color-brand-header: var(--c-header-bg);
  --color-brand-primaryBtn: var(--c-primary-btn-bg);
  --color-brand-cardFooter: var(--c-card-footer-bg);

  --color-app-bg: var(--c-page-bg);
  --color-app-surface: var(--c-surface);
  --color-app-border: var(--c-border);

  --color-app-text: var(--c-text);
  --color-app-muted: var(--c-text-muted);
  --color-app-textOnDark: var(--c-text-on-dark);
}
